.editor-styles-wrapper {
  @import '../main';

  // TODO: make a placeholder for body CSS and use here
  .block-editor-block-list__layout.is-root-container {
    @include fluid-value-set(font-size, --body-copy__font-size__regular);
    background-color: color-var(--global__body__background);
    color: color-var(--global__body__color) !important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  @import './components/wp-block';
}