.hamburger {
  @extend %button-unstyled;
  display: inline-flex;
  flex-flow: column nowrap;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 15px;
  @media only screen and (min-width: 992px) {
    width: 50px;
    height: 22px;
  }

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 3px;
    background: color-var(--global__colors__white);
    position: absolute;
    right: 0;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  &:before {
    bottom: 0;
  }

  &:after {
    top: 0;
  }

  &--active {
    &:before {
      bottom: 50%;
      transform: rotate(-45deg) translate3d(0, 50%, 0);
    }

    &:after {
      top: 50%;
      transform: rotate(45deg) translate3d(0, -50%, 0);
    }
  }
}