%wp-block-column,
.wp-block-column {
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  > * {
    margin-bottom: var(--global__sizing__layout-spacing--half);
    @media only screen and (min-width: 992px) {
      margin-bottom: var(--global__sizing__layout-spacing--default);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 599px) {
    margin-bottom: var(--global__sizing__layout-spacing--half);
  }
}

%wp-block-column,
.wp-block-column {
  &--vertically-center {
    justify-content: center;
  }

  &--horizontally-center {
    align-items: center;
  }

  &--horizontally-left {
    align-items: flex-start;
  }

  &--horizontally-right {
    align-items: flex-end;
  }
}