%wp-block-columns,
.wp-block-columns {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0;
  @media only screen and (max-width: 599px) {
    > * {
      margin-bottom: var(--global__sizing__layout-spacing--half);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Modifiers

%wp-block-columns,
.wp-block-columns {
  &--full-height {
    min-height: 100vh;
  }
  &--narrow {
    max-width: 1000px;
    margin: 0 auto;
  }
}