.wp-block-table {
  margin-left: 0;
  margin-right: 0;
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  th, td {
    padding: .5em;
    border: 1px solid;
    word-break: normal;
  }
  figcaption {
    padding: .5em;
    white-space: pre-wrap;
    color: #555;
    font-size: 13px;
    text-align: center;
  }
}