.has-border-radius {
  border-radius: 50px;
}

%button,
.button {
  @include button();
  border: none;
  line-height: inherit;
  min-height: auto;
  &--unstyled {
    @extend %button-unstyled;
  }
}

a.button {
  text-decoration: none;
}

%button-unstyled {
  outline: none;
  background: transparent;
  appearance: none;
  border: 0;
  padding: 0;
}