%heading,
.heading {
  @include fluid-value-set(font-size, --headings__regular__font-size);
  font-family: $font-family-headings;
  color: inherit;
  margin-top: 0;
  margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
  @extend %heading;
  &.typography {
    @each $modifier in $typography-sizes {
      &--#{$modifier} {
        @include fluid-value-set(font-size, --headings__ + #{$modifier} + __font-size);
      }
    }
  }
}