.list,
%list {
  margin-top: 0;
  margin-bottom: 0;
  > li {
    &.has-sub-menu {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      cursor: pointer;
      &.active {
        > ul {
          opacity: 1;
          visibility: visible;
        }
      }
      > ul {
        opacity: 0;
        visibility: hidden;
        background-color: color-var(--global__colors__black, 0.5);
        padding: var(--global__sizing__layout-spacing--quarter);
        position: absolute;
        top: var(--global__sizing__layout-spacing--half);
        left: 0;
        @media only screen and (min-width: 992px) {
          top: var(--global__sizing__layout-spacing--default);
        }
      }
    }
  }
  &--unstyled {
    list-style: none;
    padding-left: 0;
  }
  &--inline {
    @extend %list--unstyled;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    > * {
      margin-left: var(--global__sizing__text-spacing--default);
      margin-right: var(--global__sizing__text-spacing--default);
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.is-style-unstyled {
  @extend %list--unstyled;
}
.is-style-inline {
  @extend %list--inline;
}

ul {
  @extend %list;
}