.has-primary-background-color {
  background-color: color-var(--global__colors__primary);
}

.has-primary-dark-background-color {
  background-color: color-var(--global__colors__primary-dark);
}

.has-primary-light-background-color {
  background-color: color-var(--global__colors__primary-light);
}

.has-secondary-background-color {
  background-color: color-var(--global__colors__secondary);
}

.has-secondary-dark-background-color {
  background-color: color-var(--global__colors__secondary-dark);
}

.has-secondary-light-background-color {
  background-color: color-var(--global__colors__secondary-light);
}

.has-gray-darker-background-color {
  background-color: color-var(--global__colors__gray-darker);
}

.has-gray-dark-background-color {
  background-color: color-var(--global__colors__gray-dark);
}

.has-gray-medium-background-color {
  background-color: color-var(--global__colors__gray-medium);
}

.has-gray-light-background-color {
  background-color: color-var(--global__colors__gray-light);
}

.has-gray-lighter-background-color {
  background-color: color-var(--global__colors__gray-lighter);
}

.has-white-background-color {
  background-color: color-var(--global__colors__white);
}

.has-black-background-color {
  background-color: color-var(--global__colors__black);
}