.has-primary-color {
  color: color-var(--global__colors__primary);
}

.has-primary-dark-color {
  color: color-var(--global__colors__primary-dark);
}

.has-primary-light-color {
  color: color-var(--global__colors__primary-light);
}

.has-secondary-color {
  color: color-var(--global__colors__secondary);
}

.has-secondary-dark-color {
  color: color-var(--global__colors__secondary-dark);
}

.has-secondary-light-color {
  color: color-var(--global__colors__secondary-light);
}

.has-gray-darker-color {
  color: color-var(--global__colors__gray-darker);
}

.has-gray-dark-color {
  color: color-var(--global__colors__gray-dark);
}

.has-gray-medium-color {
  color: color-var(--global__colors__gray-medium);
}

.has-gray-light-color {
  color: color-var(--global__colors__gray-light);
}

.has-gray-lighter-color {
  color: color-var(--global__colors__gray-lighter);
}

.has-white-color {
  color: color-var(--global__colors__white);
}

.has-black-color {
  color: color-var(--global__colors__black);
}