html {
  height: 100%;
  margin: 0;
}

body {
  @include fluid-value-set(font-size, --body-copy__font-size__regular);
  background-color: color-var(--global__body__background);
  color: color-var(--global__body__color);
  font-family: $font-family-base;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  &.lock-scroll {
    overflow: hidden;
    max-height: 100vh;
  }
}

.wrap {
  flex: 1 0 auto;
}

.container,
.container-fluid {
  padding-right: var(--global__sizing__layout-spacing--default);
  padding-left: var(--global__sizing__layout-spacing--default);
}

.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 0;
}