@mixin heading($var-base) {
  @include fluid-value-set(font-size, $var-base + '__font-size');
  color: color-var($var-base + '__color');
  line-height: var($var-base + '__line-height');
  text-transform: var($var-base + '__transform');
  font-weight: var($var-base + '__weight');
}

@mixin button() {
  @include fluid-value-set(font-size, --buttons__common__font-size);
  padding: var(--buttons__common__padding-vertical) var(--buttons__common__padding-horizontal);
}

@mixin fluid-value-set($properties, $var-base) {
  $min-val: var($var-base + '--default');
  $max-val: var($var-base + '--max');
  $val-diff: var($var-base + '--diff');
  $min-vw: $fluid-val-min-vw;
  $max-vw: $fluid-val-max-vw;

  & {
    @each $prop in $properties {
      #{$prop}: $min-val;
    }

    @if $min-val != $max-val {
      @media screen and (min-width: $min-vw) and (max-width: $max-vw - 1) {
        @each $prop in $properties {
          #{$prop}: calc(#{$min-val} + #{$val-diff} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
      }
      @media screen and (min-width: $max-vw) {
        @each $prop in $properties {
          #{$prop}: $max-val;
        }
      }
    }
  }
}

@mixin border($var-base) {
  border-width: var($var-base + '--width');
  border-style: solid;
  border-color: color-var($var-base + '--color');
  border-radius: var($var-base + '--radius');
}

@mixin text-spacer($size: default) {
  margin-bottom: var(--global__sizing__text-spacing-- + $size);
}
