%typography,
.typography {
  @each $modifier in $typography-sizes {
    &--#{$modifier} {
      @include fluid-value-set(font-size, --body-copy__ + #{$modifier} + __font-size);
      margin-top: 0;
      margin-bottom: .5em;
    }
  }
}

[class*="typography--"] {
  .icon {
    width: 1.5625em;
    height: 1.5625em;
  }
}