$container-max-width: var(--global__sizing__container-max-width, 1230px) !default;
$typography-sizes: small, regular, large, xlarge;
$font-family-headings: inherit !default;
$font-family-base: inherit !default;
$fluid-val-min-vw: 991px;
$fluid-val-max-vw: 991px;